* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #19a1ae;
}

.circle-top {
  position: relative;
  width: 622px;
  height: 622px;
  left: -18px;
  bottom: 0px;
  rotate: 135deg;
  border-radius: 100px;
  opacity: 0.25;
}

.back {
  padding: 147px 24px 147px 24px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #2e3349;
  margin-top: 72px;
}

.number {
  color: #6b7082;
  font-weight: 400;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  text-align: flex-end;
}

.text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 18px;
}

.k {
  margin: 0;
  position: relative;
  color: #2e3349;
}

.text-low {
  font-weight: 700;
  font-size: 10px;
  color: #6b7082;
}

.container {
  position: relative;
  width: 326px;
  height: 374px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

@media screen and (width>768) {
  .container {
    display: flex;
    align-items: center;
  }
}

.card {
}

.container::after {
  content: '';
  position: absolute;
  width: 326px;
  height: 1px;
  background-color: #e8e9ec;
  left: 0px;
  bottom: 88px;
}

.photo {
  position: absolute;
  border-radius: 100px;
  width: 96px;
  height: 96px;
  top: 92px;
  left: 115px;
  box-shadow: 0 0 0 5px white;
}
